<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}"><i class="icon-mail"></i> {{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                <i class="icon-git_circle footer-social-icon"></i>
              </span>

              <span class="username">GitHub</span>
            </a>
          </li>
          {% endif %}{% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <i class="icon-twitter_circle footer-social-icon"></i>
              </span>

              <span class="username">Twitter</span>
            </a>
          </li>
          {% endif %}{% if site.stackoverflowcareers_username %}
          <li>
            <a href="https://careers.stackoverflow.com/{{ site.stackoverflowcareers_username }}">
              <span class="icon  icon--stackoverflowcareers">
                <i class="icon-paperplane_black footer-social-icon"></i>
              </span>

              <span class="username">Stack Careers</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              <span class="icon  icon--rss">
                <i class="icon-chart_alt footer-social-icon"></i>
              </span>

              <span class="username">RSS Feed</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>

      <div class="footer-notice">
          <p>For information on the licensing of this website and its included content, please see the <a href="https://github.com/ExcaliburZero/christopher-randall-wells.divshot.io">website's GitHub repo.</a></p>
      </div>
    </div>

  </div>

</footer>
