<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">{% if page.categories %}
  <link rel="stylesheet" href="{{ "/css/print.css" | prepend: site.baseurl }}" type="text/css" media="print" />{% endif %}
  <link rel="stylesheet" href="/css/mfglabs_iconset.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/theme.css" rel="stylesheet">

  <meta name="google-site-verification" content="531FE7t2Y5A6VbxrLTD6cZlegFdsJPRUjOJAXD6Rd_0" />

  <script type="application/ld+json">
    {% include structured_data.json %}
  </script>
</head>
