---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <div class="post-categories"><i class="icon-label"></i><span class="main-page-category-list">{{ page.categories | category_links }}</span></div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <script type="application/ld+json">
    {% include post_data.json %}
  </script>
</div>
